@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Quicksand&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: #072f5f;
}

.button {
  background-color: #1261a0;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  border-radius: 50px;
  position: absolute;
  top: 0;
  right: 0;
}

.button:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header-container {
  margin: 25px;
}

.header {
  color: white;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

@-webkit-keyframes moveWhitePawn1 {
  from {
    bottom: 0px;
  }
  to {
    bottom: 60px;
  }
}

@keyframes moveWhitePawn1 {
  from {
    bottom: 0px;
  }
  to {
    bottom: 60px;
  }
}

@-webkit-keyframes moveWhitePawn2 {
  from {
    bottom: 0px;
  }
  to {
    bottom: 120px;
  }
}

@keyframes moveWhitePawn2 {
  from {
    bottom: 0px;
  }
  to {
    bottom: 120px;
  }
}

@-webkit-keyframes moveBlackPawn1 {
  from {
    top: 0px;
  }
  to {
    top: 120px;
  }
}

@keyframes moveBlackPawn1 {
  from {
    top: 0px;
  }
  to {
    top: 120px;
  }
}

@-webkit-keyframes moveBlackQueen {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: 240px;
    left: 240px;
  }
}

@keyframes moveBlackQueen {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: 240px;
    left: 240px;
  }
}

@-webkit-keyframes boxRed {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: 0px;
    left: 0x;
    background: red;
  }
}

@keyframes boxRed {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: 0px;
    left: 0x;
    background: red;
  }
}

@-webkit-keyframes moveWhitePawn1_499 {
  from {
    bottom: 0px;
  }
  to {
    bottom: 45px;
  }
}

@keyframes moveWhitePawn1_499 {
  from {
    bottom: 0px;
  }
  to {
    bottom: 45px;
  }
}

@-webkit-keyframes moveWhitePawn2_499 {
  from {
    bottom: 0px;
  }
  to {
    bottom: 88px;
  }
}

@keyframes moveWhitePawn2_499 {
  from {
    bottom: 0px;
  }
  to {
    bottom: 88px;
  }
}

@-webkit-keyframes moveBlackPawn1_499 {
  from {
    top: 0px;
  }
  to {
    top: 86px;
  }
}

@keyframes moveBlackPawn1_499 {
  from {
    top: 0px;
  }
  to {
    top: 86px;
  }
}

@-webkit-keyframes moveBlackQueen_499 {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: 173px;
    left: 173px;
  }
}

@keyframes moveBlackQueen_499 {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: 173px;
    left: 173px;
  }
}

@-webkit-keyframes boxRed_499 {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: 0px;
    left: 0x;
    background: red;
  }
}

@keyframes boxRed_499 {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: 0px;
    left: 0x;
    background: red;
  }
}

@-webkit-keyframes moveWhitePawn1_380 {
  from {
    bottom: 0px;
  }
  to {
    bottom: 32px;
  }
}

@keyframes moveWhitePawn1_380 {
  from {
    bottom: 0px;
  }
  to {
    bottom: 32px;
  }
}

@-webkit-keyframes moveWhitePawn2_380 {
  from {
    bottom: 0px;
  }
  to {
    bottom: 64px;
  }
}

@keyframes moveWhitePawn2_380 {
  from {
    bottom: 0px;
  }
  to {
    bottom: 64px;
  }
}

@-webkit-keyframes moveBlackPawn1_380 {
  from {
    top: 0px;
  }
  to {
    top: 64px;
  }
}

@keyframes moveBlackPawn1_380 {
  from {
    top: 0px;
  }
  to {
    top: 64px;
  }
}

@-webkit-keyframes moveBlackQueen_380 {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: 128px;
    left: 128px;
  }
}

@keyframes moveBlackQueen_380 {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: 128px;
    left: 128px;
  }
}

@-webkit-keyframes boxRed_380 {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: 0px;
    left: 0x;
    background: red;
  }
}

@keyframes boxRed_380 {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: 0px;
    left: 0x;
    background: red;
  }
}

.chessboard {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-rows: 60px 60px 60px 60px 60px 60px 60px 60px;
      grid-template-rows: 60px 60px 60px 60px 60px 60px 60px 60px;
  -ms-grid-columns: 60px 60px 60px 60px 60px 60px 60px 60px;
      grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px;
  background-color: white;
  border: 1px solid black;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.box {
  width: auto;
  height: auto;
  border: 1px solid black;
}

.box-color {
  width: 100%;
  height: 100%;
}

.chess-piece {
  font-size: 45px;
  text-align: center;
}

.medium-persian-blue-bg {
  background-color: #1261a0;
}

.tufts-blue-bg {
  background-color: #3895d3;
}

.white {
  color: white;
}

.move-white-pawn-1 {
  position: relative;
  -webkit-animation: moveWhitePawn1 1s forwards;
          animation: moveWhitePawn1 1s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.move-white-pawn-2 {
  position: relative;
  -webkit-animation: moveWhitePawn2 1s forwards;
          animation: moveWhitePawn2 1s forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.move-black-pawn-1 {
  position: relative;
  -webkit-animation: moveBlackPawn1 1s forwards;
          animation: moveBlackPawn1 1s forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.move-black-queen {
  position: relative;
  -webkit-animation: moveBlackQueen 1s forwards;
          animation: moveBlackQueen 1s forwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.box-red {
  -webkit-animation: boxRed 1s forwards;
          animation: boxRed 1s forwards;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

@media screen and (max-width: 499px) {
  .chessboard {
    -ms-grid-rows: 43px 43px 43px 43px 43px 43px 43px 43px;
        grid-template-rows: 43px 43px 43px 43px 43px 43px 43px 43px;
    -ms-grid-columns: 43px 43px 43px 43px 43px 43px 43px 43px;
        grid-template-columns: 43px 43px 43px 43px 43px 43px 43px 43px;
  }
  .chess-piece {
    font-size: 33px;
  }
  .move-white-pawn-1 {
    position: relative;
    -webkit-animation: moveWhitePawn1_499 1s forwards;
            animation: moveWhitePawn1_499 1s forwards;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .move-white-pawn-2 {
    position: relative;
    -webkit-animation: moveWhitePawn2_499 1s forwards;
            animation: moveWhitePawn2_499 1s forwards;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  .move-black-pawn-1 {
    position: relative;
    -webkit-animation: moveBlackPawn1_499 1s forwards;
            animation: moveBlackPawn1_499 1s forwards;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  .move-black-queen {
    position: relative;
    -webkit-animation: moveBlackQueen_499 1s forwards;
            animation: moveBlackQueen_499 1s forwards;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  .box-red {
    -webkit-animation: boxRed_499 1s forwards;
            animation: boxRed_499 1s forwards;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }
}

@media screen and (max-width: 380px) {
  .header {
    font-size: 21px;
  }
  .chessboard {
    -ms-grid-rows: 32px 32px 32px 32px 32px 32px 32px 32px;
        grid-template-rows: 32px 32px 32px 32px 32px 32px 32px 32px;
    -ms-grid-columns: 32px 32px 32px 32px 32px 32px 32px 32px;
        grid-template-columns: 32px 32px 32px 32px 32px 32px 32px 32px;
  }
  .chess-piece {
    font-size: 25px;
  }
  .move-white-pawn-1 {
    position: relative;
    -webkit-animation: moveWhitePawn1_380 1s forwards;
            animation: moveWhitePawn1_380 1s forwards;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .move-white-pawn-2 {
    position: relative;
    -webkit-animation: moveWhitePawn2_380 1s forwards;
            animation: moveWhitePawn2_380 1s forwards;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  .move-black-pawn-1 {
    position: relative;
    -webkit-animation: moveBlackPawn1_380 1s forwards;
            animation: moveBlackPawn1_380 1s forwards;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  .move-black-queen {
    position: relative;
    -webkit-animation: moveBlackQueen_380 1s forwards;
            animation: moveBlackQueen_380 1s forwards;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  .box-red {
    -webkit-animation: boxRed_380 1s forwards;
            animation: boxRed_380 1s forwards;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }
}
/*# sourceMappingURL=styles.css.map */