@import "./variables";

// Default
@keyframes moveWhitePawn1 {
  from {
    bottom: 0px;
  }
  to {
    bottom: 60px;
  }
}

@keyframes moveWhitePawn2 {
  from {
    bottom: 0px;
  }
  to {
    bottom: 120px;
  }
}

@keyframes moveBlackPawn1 {
  from {
    top: 0px;
  }
  to {
    top: 120px;
  }
}

@keyframes moveBlackQueen {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: 240px;
    left: 240px;
  }
}

@keyframes boxRed {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: 0px;
    left: 0x;
    background: $red;
  }
}

// 499
@keyframes moveWhitePawn1_499 {
  from {
    bottom: 0px;
  }
  to {
    bottom: 45px;
  }
}

@keyframes moveWhitePawn2_499 {
  from {
    bottom: 0px;
  }
  to {
    bottom: 88px;
  }
}

@keyframes moveBlackPawn1_499 {
  from {
    top: 0px;
  }
  to {
    top: 86px;
  }
}

@keyframes moveBlackQueen_499 {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: 173px;
    left: 173px;
  }
}

@keyframes boxRed_499 {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: 0px;
    left: 0x;
    background: $red;
  }
}

// 380
@keyframes moveWhitePawn1_380 {
  from {
    bottom: 0px;
  }
  to {
    bottom: 32px;
  }
}

@keyframes moveWhitePawn2_380 {
  from {
    bottom: 0px;
  }
  to {
    bottom: 64px;
  }
}

@keyframes moveBlackPawn1_380 {
  from {
    top: 0px;
  }
  to {
    top: 64px;
  }
}

@keyframes moveBlackQueen_380 {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: 128px;
    left: 128px;
  }
}

@keyframes boxRed_380 {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: 0px;
    left: 0x;
    background: $red;
  }
}
