@import "./variables";
@import "./mixins";

.chessboard {
  display: inline-grid;
  grid-template-rows: 60px 60px 60px 60px 60px 60px 60px 60px;
  grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px;
  background-color: $white;
  border: 1px solid $black;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.box {
  width: auto;
  height: auto;
  border: 1px solid $black;
}

.box-color {
  width: 100%;
  height: 100%;
}

.chess-piece {
  font-size: 45px;
  text-align: center;
}

.medium-persian-blue-bg {
  background-color: $medium-persian-blue;
}

.tufts-blue-bg {
  background-color: $tufts-blue;
}

.white {
  color: $white;
}

.move-white-pawn-1 {
  @include moveAnimation(
    move-white-pawn-1,
    default,
    $animation-duration,
    $animation-fill-mode
  );
  @include animation-delay($white-pawn-1-animation-delay);
}

.move-white-pawn-2 {
  @include moveAnimation(
    move-white-pawn-2,
    default,
    $animation-duration,
    $animation-fill-mode
  );
  @include animation-delay($white-pawn-2-animation-delay);
}

.move-black-pawn-1 {
  @include moveAnimation(
    move-black-pawn-1,
    default,
    $animation-duration,
    $animation-fill-mode
  );
  @include animation-delay($black-pawn-1-animation-delay);
}

.move-black-queen {
  @include moveAnimation(
    move-black-queen,
    default,
    $animation-duration,
    $animation-fill-mode
  );
  @include animation-delay($black-queen-animation-delay);
}

.box-red {
  @include boxRedAnimation(
    box-red,
    default,
    $animation-duration,
    $animation-fill-mode
  );
  @include animation-delay($box-red-animation-delay);
}

@media screen and (max-width: 499px) {
  .chessboard {
    grid-template-rows: 43px 43px 43px 43px 43px 43px 43px 43px;
    grid-template-columns: 43px 43px 43px 43px 43px 43px 43px 43px;
  }

  .chess-piece {
    font-size: 33px;
  }

  .move-white-pawn-1 {
    @include moveAnimation(
      move-white-pawn-1,
      499,
      $animation-duration,
      $animation-fill-mode
    );
    @include animation-delay($white-pawn-1-animation-delay);
  }

  .move-white-pawn-2 {
    @include moveAnimation(
      move-white-pawn-2,
      499,
      $animation-duration,
      $animation-fill-mode
    );
    @include animation-delay($white-pawn-2-animation-delay);
  }

  .move-black-pawn-1 {
    @include moveAnimation(
      move-black-pawn-1,
      499,
      $animation-duration,
      $animation-fill-mode
    );
    @include animation-delay($black-pawn-1-animation-delay);
  }

  .move-black-queen {
    @include moveAnimation(
      move-black-queen,
      499,
      $animation-duration,
      $animation-fill-mode
    );
    @include animation-delay($black-queen-animation-delay);
  }

  .box-red {
    @include boxRedAnimation(
      box-red,
      499,
      $animation-duration,
      $animation-fill-mode
    );
    @include animation-delay($box-red-animation-delay);
  }
}

@media screen and (max-width: 380px) {
  .header {
    font-size: 21px;
  }

  .chessboard {
    grid-template-rows: 32px 32px 32px 32px 32px 32px 32px 32px;
    grid-template-columns: 32px 32px 32px 32px 32px 32px 32px 32px;
  }

  .chess-piece {
    font-size: 25px;
  }

  .move-white-pawn-1 {
    @include moveAnimation(
      move-white-pawn-1,
      380,
      $animation-duration,
      $animation-fill-mode
    );
    @include animation-delay($white-pawn-1-animation-delay);
  }

  .move-white-pawn-2 {
    @include moveAnimation(
      move-white-pawn-2,
      380,
      $animation-duration,
      $animation-fill-mode
    );
    @include animation-delay($white-pawn-2-animation-delay);
  }

  .move-black-pawn-1 {
    @include moveAnimation(
      move-black-pawn-1,
      380,
      $animation-duration,
      $animation-fill-mode
    );
    @include animation-delay($black-pawn-1-animation-delay);
  }

  .move-black-queen {
    @include moveAnimation(
      move-black-queen,
      380,
      $animation-duration,
      $animation-fill-mode
    );
    @include animation-delay($black-queen-animation-delay);
  }

  .box-red {
    @include boxRedAnimation(
      box-red,
      380,
      $animation-duration,
      $animation-fill-mode
    );
    @include animation-delay($box-red-animation-delay);
  }
}
