@import './animations';

@mixin animation-position {
  position: relative;
}

@mixin moveAnimation($animation-name, $screen-size, $animation-duration, $animation-fill-mode) {
  @include animation-position;
  @if ($animation-name == move-white-pawn-1) {
    @if ($screen-size == default) {
      animation: moveWhitePawn1 $animation-duration $animation-fill-mode;
    } @else if ($screen-size == 499) {
      animation: moveWhitePawn1_499 $animation-duration $animation-fill-mode;
    } @else if ($screen-size == 380) {
      animation: moveWhitePawn1_380 $animation-duration $animation-fill-mode;
    }
  } @else if ($animation-name == move-white-pawn-2) {
    @if ($screen-size == default) {
      animation: moveWhitePawn2 $animation-duration $animation-fill-mode;
    } @else if ($screen-size == 499) {
      animation: moveWhitePawn2_499 $animation-duration $animation-fill-mode;
    } @else if ($screen-size == 380) {
      animation: moveWhitePawn2_380 $animation-duration $animation-fill-mode;
    }
  } @else if ($animation-name == move-black-pawn-1) {
    @if ($screen-size == default) {
      animation: moveBlackPawn1 $animation-duration $animation-fill-mode;
    } @else if ($screen-size == 499) {
      animation: moveBlackPawn1_499 $animation-duration $animation-fill-mode;
    } @else if ($screen-size == 380) {
      animation: moveBlackPawn1_380 $animation-duration $animation-fill-mode;
    }
  } @else if ($animation-name == move-black-queen) {
    @if ($screen-size == default) {
      animation: moveBlackQueen $animation-duration $animation-fill-mode;
    } @else if ($screen-size == 499) {
      animation: moveBlackQueen_499 $animation-duration $animation-fill-mode;
    } @else if ($screen-size == 380) {
      animation: moveBlackQueen_380 $animation-duration $animation-fill-mode;
    }
  }
}

@mixin boxRedAnimation($animation-name, $screen-size, $animation-duration, $animation-fill-mode) {
  @if ($animation-name == box-red) {
    @if ($screen-size == default) {
      animation: boxRed $animation-duration $animation-fill-mode;
    } @else if ($screen-size == 499) {
      animation: boxRed_499 $animation-duration $animation-fill-mode;
    } @else if ($screen-size == 380) {
      animation: boxRed_380 $animation-duration $animation-fill-mode;
    }
  }
}

@mixin animation-delay($animation-delay) {
  animation-delay: $animation-delay;
}
