// Colors
$cool-black: #072f5f;
$medium-persian-blue: #1261a0;
$tufts-blue: #3895d3;
$blue-jeans: #58cced;
$white: white;
$red: red;

// Font Family
$quicksand: "Quicksand", sans-serif;

// Animation
$animation-duration: 1s;
$animation-fill-mode: forwards;
$white-pawn-1-animation-delay: 1s;
$white-pawn-2-animation-delay: 3s;
$black-pawn-1-animation-delay: 2s;
$black-queen-animation-delay: 4s;
$box-red-animation-delay: 5s;
