// Colors
$cool-black: #072f5f;
$medium-persian-blue: #1261a0;
$tufts-blue: #3895d3;
$blue-jeans: #58cced;
$white: white;
$red: red;

// Font Family
$quicksand: "Quicksand", sans-serif;

// Animation
$animation: 1s;
